<a href="https://colab.research.google.com/github/Bala534/WIDS-Datathon-2021/blob/main/Diabeties.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import seaborn as sns
import tensorflow as tf
import keras

In [2]:
data = pd.read_csv("TrainingWiDS2021.csv")
data.head()

   Unnamed: 0  encounter_id  ...  solid_tumor_with_metastasis  diabetes_mellitus
0           1        214826  ...                          0.0                1.0
1           2        246060  ...                          0.0                1.0
2           3        276985  ...                          0.0                0.0
3           4        262220  ...                          0.0                0.0
4           5        201746  ...                          0.0                0.0

[5 rows x 181 columns]

In [3]:
data.shape

(14127, 181)

In [4]:
del data['Unnamed: 0']
del data['ethnicity']
del data['hospital_id']
del data['hospital_admit_source']
del data['icu_admit_source']
del data['icu_id']
del data['icu_stay_type']
del data['icu_type']
del data['pre_icu_los_days']
del data['readmission_status']

In [5]:
data.shape

(14127, 171)

In [6]:
data.columns

Index(['encounter_id', 'age', 'bmi', 'elective_surgery', 'gender', 'height',
       'weight', 'albumin_apache', 'apache_2_diagnosis', 'apache_3j_diagnosis',
       ...
       'h1_pao2fio2ratio_max', 'h1_pao2fio2ratio_min', 'aids', 'cirrhosis',
       'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma',
       'solid_tumor_with_metastasis', 'diabetes_mellitus'],
      dtype='object', length=171)

In [7]:
data.isna().any()

encounter_id                   False
age                             True
bmi                             True
elective_surgery               False
gender                          True
                               ...
immunosuppression               True
leukemia                        True
lymphoma                        True
solid_tumor_with_metastasis     True
diabetes_mellitus               True
Length: 171, dtype: bool

In [8]:
data['gender'] = data.gender.map(dict(M=1, F=0))

In [9]:
data =data.fillna(method="ffill")

In [10]:
data =data.fillna(method="bfill")

In [11]:
data.isna().any()

encounter_id                   False
age                            False
bmi                            False
elective_surgery               False
gender                         False
                               ...
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
diabetes_mellitus              False
Length: 171, dtype: bool

In [12]:
data.isnull().sum().sum()

0

In [13]:
data.describe()

        encounter_id  ...  diabetes_mellitus
count   14127.000000  ...       14127.000000
mean   212847.640405  ...           0.206059
std     38084.113172  ...           0.404488
min    147009.000000  ...           0.000000
25%    179862.500000  ...           0.000000
50%    212698.000000  ...           0.000000
75%    245896.000000  ...           0.000000
max    279000.000000  ...           1.000000

[8 rows x 171 columns]

In [14]:
data.describe(include="all")

        encounter_id  ...  diabetes_mellitus
count   14127.000000  ...       14127.000000
mean   212847.640405  ...           0.206059
std     38084.113172  ...           0.404488
min    147009.000000  ...           0.000000
25%    179862.500000  ...           0.000000
50%    212698.000000  ...           0.000000
75%    245896.000000  ...           0.000000
max    279000.000000  ...           1.000000

[8 rows x 171 columns]

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14127 entries, 0 to 14126
Columns: 171 entries, encounter_id to diabetes_mellitus
dtypes: float64(165), int64(6)
memory usage: 18.4 MB

In [16]:
from sklearn.linear_model import LogisticRegression

In [17]:
x = data.loc[:,"encounter_id":"solid_tumor_with_metastasis"]
y = data['diabetes_mellitus']

In [18]:
model1 = LogisticRegression(max_iter=2000)
model1.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=2000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [19]:
y_train_predict1 = model1.predict(x)

In [20]:
print(pd.DataFrame({"Actual":data["diabetes_mellitus"],"Predicted":y_train_predict1}))

       Actual  Predicted
0         1.0        0.0
1         1.0        0.0
2         0.0        0.0
3         0.0        0.0
4         0.0        0.0
...       ...        ...
14122     1.0        0.0
14123     0.0        0.0
14124     0.0        0.0
14125     1.0        0.0
14126     1.0        0.0

[14127 rows x 2 columns]

In [21]:
from sklearn.metrics import roc_auc_score

In [22]:
roc_auc_score(y,y_train_predict1)

0.6116417153979862

In [23]:
from sklearn.naive_bayes import GaussianNB

In [24]:
model2 = GaussianNB()
model2.fit(x,y)

GaussianNB(priors=None, var_smoothing=1e-09)

In [25]:
y_train_predict2 = model2.predict(x)
y_train_predict2

array([0., 0., 0., ..., 0., 0., 0.])

In [26]:
print(pd.DataFrame({"Actual":data["diabetes_mellitus"],"Predicted":y_train_predict2}))

       Actual  Predicted
0         1.0        0.0
1         1.0        0.0
2         0.0        0.0
3         0.0        0.0
4         0.0        0.0
...       ...        ...
14122     1.0        0.0
14123     0.0        0.0
14124     0.0        0.0
14125     1.0        0.0
14126     1.0        0.0

[14127 rows x 2 columns]

In [27]:
roc_auc_score(y,y_train_predict2)

0.6732157212962196

In [28]:
from sklearn.svm import SVC

In [29]:
model3 = SVC()
model3.fit(x,y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [30]:
y_train_predict3 = model3.predict(x)
print(y_train_predict3)

[0. 0. 0. ... 0. 0. 0.]

In [31]:
print(pd.DataFrame({"Actual":data["diabetes_mellitus"],"Predicted":y_train_predict3}))

       Actual  Predicted
0         1.0        0.0
1         1.0        0.0
2         0.0        0.0
3         0.0        0.0
4         0.0        0.0
...       ...        ...
14122     1.0        0.0
14123     0.0        0.0
14124     0.0        0.0
14125     1.0        0.0
14126     1.0        0.0

[14127 rows x 2 columns]

In [32]:
roc_auc_score(y,y_train_predict3)

0.5

In [33]:
test_data=pd.read_csv("UnlabeledWiDS2021.csv")
test_data.head()

   Unnamed: 0  encounter_id  ...  lymphoma  solid_tumor_with_metastasis
0           1        144740  ...         0                            0
1           2        141990  ...         0                            0
2           3        142038  ...         0                            0
3           4        138628  ...         0                            0
4           5        141682  ...         0                            0

[5 rows x 180 columns]

In [34]:
del test_data['Unnamed: 0']
del test_data['ethnicity']
del test_data['hospital_id']
del test_data['hospital_admit_source']
del test_data['icu_admit_source']
del test_data['icu_id']
del test_data['icu_stay_type']
del test_data['icu_type']
del test_data['pre_icu_los_days']
del test_data['readmission_status']

In [35]:
test_data.isna().any()

encounter_id                   False
age                            False
bmi                             True
elective_surgery               False
gender                          True
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 170, dtype: bool

In [36]:
test_data['gender'] = test_data.gender.map(dict(M=1, F=0))

In [37]:
test_data =test_data.fillna(method='ffill')

In [38]:
test_data =test_data.fillna(method='bfill')

In [39]:
test_data.isna().any()

encounter_id                   False
age                            False
bmi                            False
elective_surgery               False
gender                         False
                               ...
hepatic_failure                False
immunosuppression              False
leukemia                       False
lymphoma                       False
solid_tumor_with_metastasis    False
Length: 170, dtype: bool

In [41]:
y_predict = model1.predict(test_data)
print(y_predict)

[0. 0. 0. ... 0. 0. 0.]

In [42]:
output = pd.DataFrame({'encounter_id':test_data['encounter_id'],'diabetes_milletus':y_predict})
output

       encounter_id  diabetes_milletus
0            144740                0.0
1            141990                0.0
2            142038                0.0
3            138628                0.0
4            141682                0.0
...             ...                ...
10229        143750                0.0
10230        143813                0.0
10231        137126                0.0
10232        135652                0.0
10233        136852                0.0

[10234 rows x 2 columns]

In [43]:
y_predict1 = model2.predict(test_data)
y_predict1

array([0., 0., 0., ..., 0., 0., 0.])

In [44]:
output1 = pd.DataFrame({'encounter_id':test_data['encounter_id'],'diabetes_milletus':y_predict1})
output1

       encounter_id  diabetes_milletus
0            144740                0.0
1            141990                0.0
2            142038                0.0
3            138628                0.0
4            141682                0.0
...             ...                ...
10229        143750                1.0
10230        143813                0.0
10231        137126                0.0
10232        135652                0.0
10233        136852                0.0

[10234 rows x 2 columns]

In [45]:
y_predict2 = model3.predict(test_data)
y_predict2

array([0., 0., 0., ..., 0., 0., 0.])

In [46]:
output2 = pd.DataFrame({'encounter_id':test_data['encounter_id'],'diabetes_milletus':y_predict2})
output2

       encounter_id  diabetes_milletus
0            144740                0.0
1            141990                0.0
2            142038                0.0
3            138628                0.0
4            141682                0.0
...             ...                ...
10229        143750                0.0
10230        143813                0.0
10231        137126                0.0
10232        135652                0.0
10233        136852                0.0

[10234 rows x 2 columns]